
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    margin-bottom: 60px;
}

body a{
    text-decoration: none;
}

/* header */



/* CARD-GROUP */



/* FOOTER */

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 150px;
}

#iconos a{
    color: #212529;
    
}

#iconos a:hover{
    color: black;
}
