
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

body a{
    text-decoration: none;
}

#iconos i{
    font-size: 26px;
    padding: 0 8px;
    color: #303030;
}